@{
  Layout = "_Layout";
  var user = Model["user"];
  var enemy = Model["enemy"];
  var percent = @enemy.GetHPRemaining() * 5;
  var mjpercent = @enemy.GetHPRemaining() * 2;
  var percent2 = @user.GetHPRemaining()* 5;
}


<div class="well">
  <h3>You received a point - add it to a stat</h3>
  <div class="row">
    <div class="col-md-3">
      <h3>@user.GetName()</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@percent2%">
            </div>
        </div>
      <div>
        <p>HP: @user.GetHPRemaining() / @user.GetHPTotal()</p>
        <p>Luck: @user.GetLuck()</p>
        <p>Agility: @user.GetAgility()</p>
        <p>Intelligence: @user.GetIntelligence()</p>
        <p>Strength: @user.GetStrength()</p>
      </div>
    </div>
    <div class="col-md-3">

      <img src="~/img/playerdetail.png" class="playerImage">
    </div>
    <div class="fight-control">

                <a href='/battle/stat/@user.GetId()/0'><button type="button" class="buttony" name="button">Luck</button></a>
                <br>
                <a href='/battle/stat/@user.GetId()/1'><button type="button" class="buttony" name="button">Agility</button></a>
                <br>
                <a href='/battle/stat/@user.GetId()/2'><button type="button" class="buttony" name="button">Intelligence</button></a>
                <br>
                <a href='/battle/stat/@user.GetId()/3'><button type="button" class="buttony" name="button">Strength</button></a>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<br>
<div class="well">
  <div class="row">
    <div id="msgbox" class="col-md-12">
    </div>
  </div>
</div>

@{
  <script>var msgs = [];</script>

  foreach(string msg in Model["msg"])
  {
    <script>msgs.push("@Html.Raw(msg)");</script>
  }

  <script>typewriter(msgs, 'msgbox');</script>
}
