@{
  Layout = "_Layout";
  var user = Model["user"];
  var enemy = Model["enemy"];
}

<div class="col-md-6">
  <h3>@user.GetName()</h3>
  <div>
    <p>HP: @user.GetHPRemaining() / @user.GetHPTotal()</p>
    <p>Luck: @user.GetLuck()</p>
    <p>Agility: @user.GetAgility()</p>
    <p>Intelligence: @user.GetIntelligence()</p>
    <p>Strength: @user.GetStrength()</p>
  </div>
  <a href='/battle/@user.GetId()/attack/@enemy.GetId()/0'><button type="button" name="button">Shoot</button></a>
  <a href='/battle/@user.GetId()/attack/@enemy.GetId()/1'><button type="button" name="button">Timeout</button></a>
  <a href='/battle/@user.GetId()/attack/@enemy.GetId()/2'><button type="button" name="button">Dunk</button></a>
  <a href='/battle/@user.GetId()/attack/@enemy.GetId()/3'><button type="button" name="button">Zone Defense</button></a>
</div>

<div class="col-md-6">
  <h3>@enemy.GetName()</h3>
  <div>
    <p>HP: @enemy.GetHPRemaining() / @enemy.GetHPTotal()</p>
    <p>Luck: @enemy.GetLuck()</p>
    <p>Agility: @enemy.GetAgility()</p>
    <p>Intelligence: @enemy.GetIntelligence()</p>
    <p>Strength: @enemy.GetStrength()</p>
  </div>
</div>


<div id='msgbox' class="col-md-12">
</div>


@{
  <script>var msgs = [];</script>

  foreach(string msg in Model["msg"])
  {
    <script>msgs.push("@Html.Raw(msg)");</script>
  }

  <script>typewriter(msgs, 'msgbox');</script>
}
